<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>

<head>
    <title>Chat</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/main.js"></script>
    <link rel="stylesheet" href="/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<!--Coded With Love By Mutiullah Samim-->

<body>
    <div class="container-fluid h-100">
        <div class="row justify-content-center h-100">
            <div class="col-md-4 col-xl-3 chat" id="chatmedia">
                <div class="card mb-sm-3 mb-md-0 contacts_card">
                    <div class="card-header">
                        <div class="input-group">
                            <input type="text" placeholder="Search..." id="myInput" onkeyup="search()" name=""
                                class="form-control search">
                            <div class="input-group-prepend">
                                <span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
                            </div>
                        </div>
                    </div>

                    <div class="card-body contacts_body">

                        <ui class="contacts" id="myUL">
                            <% for (let i=result.length-1;i>=0;i--) {%>
                            <li class="active" onclick="openWindow(this.id,'<%=i+1%>')"
                                id="<%=result[i][0].user_uuid%>">
                                <div class="d-flex bd-highlight">
                                    <div class="img_cont">
                                        <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg"
                                            class="rounded-circle user_img">
                                        <span class="online_icon"></span>
                                    </div>
                                    <div class="user_info" id="user_info<%=i+1%>">
                                        <span>User <%=i+1%></span>
                                        <p> <%= result[i][result[i].length-1].content%></p>
                                    </div>
                                </div>
                            </li>
                            <%}%>    
                    </ui>
					</div>
					<div class="card-footer"></div>
				</div></div>
				<div class=" chat">
					<div class="card">
						<div class="card-header msg_head">
							<div class="d-flex bd-highlight">
								<div class="img_cont">
									<img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
									<span class="online_icon"></span>
								</div>
								<div id="user_title" class="user_info">
									<span></span>
									<p></p>
                                </div>
                                <div class="button">
                                    <button class="trigger-push" onclick="sendNotification()">PUSH</button>
                                </div>
								
							</div>

							<div class="action_menu">
								<ul>
									<li><i class="fas fa-user-circle"></i> View profile</li>
									<li><i class="fas fa-users"></i> Add to close friends</li>
									<li><i class="fas fa-plus"></i> Add to group</li>
									<li><i class="fas fa-ban"></i> Block</li>
								</ul>
							</div>
						</div>
						<div class="card-body msg_card_body" id="chatwindow">
					</div>
				</div>
			</div>
		</div>
    </body>
    
    <script>
        function openWindow(id, cls) {
            console.log(id, cls)
            let msglen;
            let userid = document.querySelector("#user_info" + cls).innerText
            fetch('/getUserChat', {
                method: 'POST',
                body: JSON.stringify({ id }),
                headers: {
                    "Content-Type": 'application/json'
                }
            }).then(res => res.json()).then((data) => {
                msglen = data.length
                let response = `<div>`
                for (let i = 0; i < data.length; i++) {
                    let date = new Date(data[i].created_at)

                    let time = date.getHours() + ":" + date.getMinutes()
                    var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June', 'July', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec']
                    let day = date.getDate() === new Date().getDate() ? "Today" : date.getDate() + "-" + months[date.getMonth()]
                    if (data[i].direction === '>') {
                        response = response + `
                    <div class="d-flex justify-content-end mb-4">
                        <div class="msg_cotainer_send">
                                    ${data[i].content}
									<span class="msg_time_send">${time + " " + day}</span>
                                </div>
                                
							</div>`

                    }
                    else {
                        response = response + `<div class="d-flex justify-content-start mb-4">
                        <div class="img_cont_msg"> <img src="https://i.pinimg.com/originals/0c/67/5a/0c675a8e1061478d2b7b21b330093444.gif" class="rounded-circle user_img_msg"> </div>
                        <div class="msg_cotainer">
                                    ${data[i].content}
									<span class="msg_time">${time + " " + day}</span>
                                </div>
                                
							</div>`
                        console.log("in first if")


                    }
                }
                response = response + '</div>'
                document.getElementById('chatwindow').innerHTML = response
                document.querySelector('#user_title').children[0].innerText = "User" + cls
                document.querySelector('#user_title').children[1].innerText = msglen + " Messages"

            })
        }

        function search() {
            var input, filter, ul, li, a, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            ul = document.getElementById("myUL");
            li = ul.getElementsByTagName("li");
            for (i = 0; i < li.length; i++) {
                a = li[i].children[0].children[1].children[0];
                txtValue = a.textContent || a.innerText;

                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
        }
        function myFunction(x) {
            if (x.matches) {
                document.getElementById("chatmedia").classList.remove('.col-md-4.col-xl-3') // If media query matches
            } else {
            }
        }

        var x = window.matchMedia("(max-width: 768 px)")
        myFunction(x) // Call listener function at run time
        x.addListener(myFunction) 


        function sendNotification() {
  var request = {
    title: 'Text Message',
    body: "Excuse me boss,You got a text message"
  }
  fetch('/notify', {
    method: 'POST',
    headers:{
        'Accept': 'application/json',
        'Content-Type': 'application/json'
    },
    body: JSON.stringify(request)
  }).then(() => {
    alert("Sent the push notification")
  }).catch(() => {
    alert("Problem in sending the push notifications")
  })
}

    </script>
</html>